* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*::before,*::after {
	box-sizing: border-box;
}
ul,ol {
	list-style: none;
}
.icon {
       width: 1em; height: 1em;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
    }
body{
	border: 1px solid red;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrapper {
	display: flex;
	position: relative;
}
.suggestion {
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
}
.suggestion.active {
	display: block;
	border: 1px solid #b8b8b8;
	width: 540px;
	padding-left: 10px;
	font-size: 16px;
}
.suggestion>li {
	padding: 3px 0;
}
.suggestion>li:hover {
	background: #ccc;
}
.input-wrapper {
	position: relative;
	display: inline-block;
}
.float-div {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	display: flex;
	justify-contenr: center;
	align-items: center;
	margin-right: 10px;
	color: #b8b8b8;
}
.float-div .split-line {
	width: 0;
	height: 16px;
	border-left: 1px solid;
	margin: 0 10px;
}

.input-wrapper {
	float: left;
}
.input-wrapper + button {
	float: left;
}
.input-wrapper + button {
	background: #3988FB;
	border: none;
	font-size: 14px;
	color: #fff;
	padding: 0 20px;
}
.input-wrapper + button:focus {
	outline: none;
}
.input-wrapper + button:hover {
	box-shadow: 1px 1px 0 0 rgba(0,0,0,0.2);
	background: #3781f0;
	cursor: pointer;
}
.input-wrapper input[type=text]{
	border: 1px solid #b8b8b8;
	width: 540px;
	height: 35px;
	line-height: 35px;
	padding-left: 8px;
	font-size: 15px;

}
.input-wrapper input[type=text]:focus {
	outline: none;/*使默认按下变蓝色的样式取消*/
	border-color: #4b94fc;/*设置新的focus样式*/
}
.input-wrapper svg.icon {
	width: 18px;
	height: 20px;
	fill: #b8b8b8;/*设置icon的颜色*/
}
.input-wrapper svg.icon:hover {
	fill: #4b94fc;
	cursor: pointer;
}





